<form action="Search" method="post">
    <div>
        <label for="name">Sök efter en produkt</label>
        <input type="text" id="name" name="beverage_name">
    </div>
    <div class="button">
        <button type="submit">Sök</button>
    </div>
</form>
    
